---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type, -llvm-*, -llvmlibc-*, -altera-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none


